{% extends 'base.html' %}

{% block home高亮 %}
    active
{% endblock home高亮 %}

{% block 主体 %}
    <hr><br>
    <div class="row">
        <div class="col-md-12">
            <h1><span class="label label-danger" data-toggle="tooltip" data-placement="right" title="坐标备注：一（0，4）、二（2，4）、三（4，4）、四（0，2）、五（2，2）、六（4，2）、七（0，0）、八（2，0）、九（4，0）">热力图</span></h1>
        </div>
    </div><br><br><br>
    <div class="row">
{#        热力图ah#}
        <div class="col-md-6">
            <div id="hot_ah" style="width:100%;height: 500px; ">
                <script type="text/javascript">
                    {#// 基于准备好的dom，初始化echarts实例#}
                    var hot_ah= echarts.init(document.getElementById('hot_ah'));
                    {#// 指定图表的配置项和数据#}
                    var x = [];
                    var y = [];
                    for(var i = 0; i <= 4; i ++)
                    {
                        x[i] = i;
                        y[i] = i;
                    }
                    var data = [];
                    data = data.map(function (item) {
                        return [item[1], item[0], item[2] || '-'];
                    });
                    var option = {
                        baseOption: {
                            timeline:{
                                label:false,
                                axisType: 'category',
                                show: true,
                                autoPlay: false,
                                playInterval: 1000,
                                data:{{ timeline|safe }}
                            },
                            grid: {containLabel: true},
                            title: {
                                text: 'AH'
                            },
                            tooltip: {
                                position: 'top'
                             },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            animation: false,
                            xAxis: {
                                type: 'category',
                                data: x,
                                splitArea: {
                                    show: true
                                }
                             },
                            yAxis: {
                                type: 'category',
                                data: y,
                                splitArea: {
                                    show: true
                                }
                             },
                            series: [{
                                name: 'AH',
                                type: 'heatmap',
                                label: {
                                    normal: {
                                        show: false
                                    }
                                }
                             }]
                        },
                        options:[]
                    };
                    var timeline = {{ timeline|safe }}
                    var ah_value = {{ ah_value|safe }}
                    for(var n = 0; n < timeline.length; n ++)
                    {
                        option.options.push(
                            {
                                visualMap: {
                                    min: {{ min_ah|safe }},
                                    max: {{ max_ah|safe }},
                                    left: 'left',
                                    top: 'center',
                                    inRange: {
                                        color: [
                                            '#5DADE2',
                                            '#DC143C'
                                        ]
                                    }
                                 },
                                title:{
                                    text: timeline[n]+" （AH）"
                                },
                                series:[
                                    {
                                        data:[
                                            [0, 4, ah_value[0][n]],
                                            [1, 4, (ah_value[0][n]+ah_value[1][n])/2],
                                            [2, 4, ah_value[1][n]],
                                            [3, 4, (ah_value[1][n]+ah_value[2][n])/2],
                                            [4, 4, ah_value[2][n]],

                                            [0, 3, (ah_value[0][n]+ah_value[3][n])/2],
                                            [1, 3, (ah_value[0][n]+ah_value[1][n]+ah_value[3][n]+ah_value[4][n])/4],
                                            [2, 3, (ah_value[1][n]+ah_value[4][n])/2],
                                            [3, 3, (ah_value[1][n]+ah_value[2][n]+ah_value[4][n]+ah_value[5][n])/4],
                                            [4, 3, (ah_value[2][n]+ah_value[5][n])/2],

                                            [0, 2, ah_value[3][n]],
                                            [1, 2, (ah_value[3][n]+ah_value[4][n])/2],
                                            [2, 2, ah_value[4][n]],
                                            [3, 2, (ah_value[4][n]+ah_value[5][n])/2],
                                            [4, 2, ah_value[5][n]],

                                            [0, 1, (ah_value[3][n]+ah_value[6][n])/2],
                                            [1, 1, (ah_value[3][n]+ah_value[4][n]+ah_value[6][n]+ah_value[7][n])/4],
                                            [2, 1, (ah_value[4][n]+ah_value[7][n])/2],
                                            [3, 1, (ah_value[4][n]+ah_value[5][n]+ah_value[7][n]+ah_value[8][n])/4],
                                            [4, 1, (ah_value[5][n]+ah_value[8][n])/2],

                                            [0, 0, ah_value[6][n]],
                                            [1, 0, (ah_value[6][n]+ah_value[7][n])/2],
                                            [2, 0, ah_value[7][n]],
                                            [3, 0, (ah_value[7][n]+ah_value[8][n])/2],
                                            [4, 0, ah_value[8][n]],


                                        ]
                                    },
                                ]
                            },
                        );
                    }
                    {#// 使用刚指定的配置项和数据显示图表。#}
                    hot_ah.setOption(option);
                </script>
            </div>
        </div>
{#        热力图nh#}
        <div class="col-md-6">
            <div id="hot_nh" style="width:100%;height: 500px; ">
                <script type="text/javascript">
                    {#// 基于准备好的dom，初始化echarts实例#}
                    var hot_nh= echarts.init(document.getElementById('hot_nh'));
                    {#// 指定图表的配置项和数据#}
                    var x = [];
                    var y = [];
                    for(var i = 0; i <= 4; i ++)
                    {
                        x[i] = i;
                        y[i] = i;
                    }
                    var data = [];
                    data = data.map(function (item) {
                        return [item[1], item[0], item[2] || '-'];
                    });
                    var option = {
                        baseOption: {
                            timeline:{
                                label:false,
                                axisType: 'category',
                                show: true,
                                autoPlay: false,
                                playInterval: 1000,
                                data:{{ timeline|safe }}
                            },
                            grid: {containLabel: true},
                            title: {
                                text: 'AH'
                            },
                            tooltip: {
                                position: 'top'
                             },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            animation: false,
                            xAxis: {
                                type: 'category',
                                data: x,
                                splitArea: {
                                    show: true
                                }
                             },
                            yAxis: {
                                type: 'category',
                                data: y,
                                splitArea: {
                                    show: true
                                }
                             },
                            series: [{
                                name: 'NH',
                                type: 'heatmap',
                                label: {
                                    normal: {
                                        show: false
                                    }
                                }
                             }]
                        },
                        options:[]
                    };
                    var timeline = {{ timeline|safe }}
                    var nh_value = {{ nh_value|safe }}
                    for(var n = 0; n < timeline.length; n ++)
                    {
                        option.options.push(
                            {
                                visualMap: {
                                    min: {{ min_nh|safe }},
                                    max: {{ max_nh|safe }},
                                    left: 'left',
                                    top: 'center',
                                    inRange: {
                                        color: [
                                            '#5DADE2',
                                            '#DC143C'
                                        ]
                                    }
                                 },
                                title:{
                                    text: timeline[n]+" （NH）"
                                },
                                series:[
                                    {
                                        data:[
                                            [0, 4, nh_value[0][n]],
                                            [1, 4, (nh_value[0][n]+nh_value[1][n])/2],
                                            [2, 4, nh_value[1][n]],
                                            [3, 4, (nh_value[1][n]+nh_value[2][n])/2],
                                            [4, 4, nh_value[2][n]],

                                            [0, 3, (nh_value[0][n]+nh_value[3][n])/2],
                                            [1, 3, (nh_value[0][n]+nh_value[1][n]+nh_value[3][n]+nh_value[4][n])/4],
                                            [2, 3, (nh_value[1][n]+nh_value[4][n])/2],
                                            [3, 3, (nh_value[1][n]+nh_value[2][n]+nh_value[4][n]+nh_value[5][n])/4],
                                            [4, 3, (nh_value[2][n]+nh_value[5][n])/2],

                                            [0, 2, nh_value[3][n]],
                                            [1, 2, (nh_value[3][n]+nh_value[4][n])/2],
                                            [2, 2, nh_value[4][n]],
                                            [3, 2, (nh_value[4][n]+nh_value[5][n])/2],
                                            [4, 2, nh_value[5][n]],

                                            [0, 1, (nh_value[3][n]+nh_value[6][n])/2],
                                            [1, 1, (nh_value[3][n]+nh_value[4][n]+nh_value[6][n]+nh_value[7][n])/4],
                                            [2, 1, (nh_value[4][n]+nh_value[7][n])/2],
                                            [3, 1, (nh_value[4][n]+nh_value[5][n]+nh_value[7][n]+nh_value[8][n])/4],
                                            [4, 1, (nh_value[5][n]+nh_value[8][n])/2],

                                            [0, 0, nh_value[6][n]],
                                            [1, 0, (nh_value[6][n]+nh_value[7][n])/2],
                                            [2, 0, nh_value[7][n]],
                                            [3, 0, (nh_value[7][n]+nh_value[8][n])/2],
                                            [4, 0, nh_value[8][n]],


                                        ]
                                    },
                                ]
                            },
                        );
                    }
                    {#// 使用刚指定的配置项和数据显示图表。#}
                    hot_nh.setOption(option);
                </script>
            </div>
        </div>
    </div>
    <hr><br>
    <div class="row">
        <div class="col-md-1">
            <h1><span class="label label-warning">3D柱状图</span></h1>
        </div>
    </div><br><br><br>
    <div class="row">
        <div class="col-md-6">
            <h2>AH</h2>
        </div>
        <div class="col-md-6">
            <h2>NH</h2>
        </div>
    </div>
    <hr><br>
    <div class="row">
        <div class="col-md-1">
            <h1><span class="label label-primary">折线图</span></h1>
        </div>
    </div><br><br><br>
    <div class="row">
        <div class="col-md-6">
            <h2>AH</h2>
        </div>
        <div class="col-md-6">
            <h2>NH</h2>
        </div>
    </div>
{% endblock 主体 %}